<div class="lefthone">
<h1>About Us</h1><img src="/assets/linebreak.jpg" />
</div>
<div class="about">
<p><img src="assets/studio visit.png" alt="Studio visit" />
This is an Irish based platform for creative talents to showcase their work to
a diverse community. Our mission is to connect the creative world with every
corner of the market by promoting and delivering innovative creations to the
wider public. Allowing the community to stay connected with the creative minds by publishing
innovative and informative articles on an assortment of topics.</p>

<br />
<p>Our online gallery offers both new and established collectors original artworks
and prints chosen from up-and-coming talent and well-known artists from
multiple art scenes.</p>
<br />
<p>Our commercial clients have the opportunity to source, commission and curate
pieces from a varied list of artists. We aim to make it as simple as possible to
source the art that our clients’ envision. Providing advice to clients with their
decision ensures the process is completed with ease.</p>
<br />
<p>Customers have the opportunity to commission an artist to design a unique piece
under their direction. Our mission is to simplify the process and combine the
talent of our artists with the vision of our customers.</p>
</div>