<div class="lefthone">
<h1>Our Clients</h1><img src="/assets/linebreak.jpg" />
</div>
<div class="client">
<img src="/assets/clients/hp.jpg" />
<img src="/assets/clients/twitter.png" />
<img src="/assets/clients/google.jpg" />
</div>
<div class="lefthone">
<h1>The Process</h1><img src="/assets/linebreak.jpg" />
</div>
<div class="centered">
<img src="/assets/clients/theprocess.png" />
</div>
<div class="lefthone">
<h1>Services</h1><img src="/assets/linebreak.jpg" />
</div>
<div class="services">
<img src="/assets/officemural.jpg" alt="Office Mural" />
<ul>
	<li>- Comission Artwork</li>
	<li>- Logo Design</li>
	<li>- Graphic Design</li>
	<li>- Indoor/ Outdoor Mural</li>
</ul>
</div>