<div class="lefthone">
<h1>FAQs</h1><img src="/assets/linebreak.jpg" />

</div>

<h2>Looking for a quick answer? You've come to the right place.</h2>
<br />

<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">Shipping</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Returns</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">Ordering</label>
			
	      
            
			    <div class="clear-shadow"></div>
				
		        <div class="contents">
			        <div class="content-1">
						<h2>Shipping</h2>
                        <h4>What type of packaging do we use?</h4>
<p>Posters and art prints are rolled with thick paper to protect against dust before being packaged in tubes or in corrugated triangular shipping containers. Framed items are covered securely and placed in adjustable corrugated inserts that lock the frame in position.</p>
<br />
<h4>When will my art arrive?</h4>
<p>You can estimate your art's arrival by adding the processing and transit times. See Details.</p>
<br />
<h4>How do I track my order?</h4>
<p>You can quickly check the status of a current order with your order number and email address. As soon as your art ships, we'll send you a confirmation email that includes a tracking number.</p>
<br />
<h4>How much will shipping cost?</h4>
<p>Shipping fees vary based on the quantity and type of art you've ordered. See our shipping rates chart to estimate your charges.</p>
<br />
<h4>Is my package insured?</h4>
<p>Art.com guarantees your satisfaction and we will give you a refund or a replacement for purchased items you are not satisfied with. In the remote event that your package is lost or damaged upon arrival, please contact our Customer Support Team at +44 20 7183 1900 or by email.</p>
<br />
				    </div>
			        <div class="content-2">
						<h2>Returns</h2>
                        <h4>What is your return policy?</h4>
<p>We are committed to quality products and your satisfaction is 100% guaranteed. If for any reason you are not completely satisfied with your purchase, you may return it within 30 days of receipt and receive a free replacement or a full refund for the price of the product. Shipping charges will not be refunded.</p>
<br />
<h4>Choose from two ways to return:</h4>

<h4>Expedite Photo Returns</h4>
<p>If your order arrived in less than satisfactory condition, speed up your return by following these simple steps:</p>

<ul>
<li>Take a digital photo of your damaged product and the shipping container it arrived in (if damaged).</li>
<li>Attach your photos to an email and send them to returns@art.com. Please include your order number, item number, a brief description of the reason for the return, and whether you'd like a replacement or a refund.</li>
<li>You will receive an email within 24-48 hours confirming that your photo return is being processed. If your photo return is confirmed, you do not need to mail back your order. We will process the refund or replacement based on your photos.</li>
</ul>
<br />
<p><strong>Please note: </strong>Easy Photo Return is available for most posters and art prints, including framed items, canvas, acrylic, and wood mounts. Easy Photo Return is not  available for some items, including Tapestries, Hand Painted Art, and Limited Edition prints.</p>
<p>If the damage or quality issue is not apparent in the photo, you may be required to return the item at your expense before the return can be processed.</p>
<ul>
<li>If a product is perfect, but not perfect for you, we invite you to return it for a full refund (minus shipping charges) by following these simple steps:
	<br />
<ul>
<li>Complete the return request form on the back of the packing list included with your order.</li>
<li>Ship your item back to us at the address below in its original packaging and enclose your completed return request. We strongly encourage you to return the item via a trackable method.</li>
<li>We typically issue your refund within 48-72 hours of receiving the package.</li>
<li>Returns Art & Allposters De Voorde 40 5807 EZ Oostrum The Netherlands</li>
<li>We will typically issue your refund within 48-72 hours of receiving the package.</li>
</ul>
<br />
<h4>Regular Returns</h4>
<p>We invite you to return your order for a full refund of the product cost (minus shipping charges) by following these simple steps:</p>
<ol>
<li>Complete the Return Instructions form on the back of the packing ship included with your order.</li>
<li>Ship your item back to us in its original packaging and enclose your completed return request. We strongly encourage you to return the item via a trackable method.  Returns Address Returns Art & Allposters De Voorde 40 5807 EZ Oostrum The Netherlands</li> 
<li>We will typically issue your refund within 48-72 hours of receiving the package.</li>
</ol>
<br />
				    </div>
			        <div class="content-3">
						<h2>Ordering</h2>
                        <h4>How do I place an order?</h4>
<p>Add the product(s) you wish to order in your shopping cart by clicking on the "Add to Cart" button located next to the product image. When you're ready to complete your order, click "Continue Checkout" from within your cart and follow the instructions. You may also complete your order by calling us at +44 20 7183 1900.</p>
<br />
<h4>What payment options do you accept?</h4>
<p>We accept all major credit cards, including Visa/Visa Electron, Mastercard/Eurocard and American Express. We also accept PayPal.</p>
<br />
<h4>Can I cancel my order?</h4>
<p>To cancel an order that has not yet shipped, have your order number available and contact our Customer Support Team at +44 20 7183 1900 or by emailing support@art.com. We are unable to process cancellations for items that have already shipped. Please visit our returns page or contact us for alternate options.
We are unable to add additional items to existing orders or substitute individual items. You will need to cancel your existing order and place a new one. Thanks for your patience!</p>
<br />
<h4>When will my credit card be billed?</h4>
<p>Prior to shipping, we have only received a pending pre-authorization request from your financial institution. When we request an authorization for your purchase, your financial institution may place a hold on your account for the amount of that pre-authorization request. While your financial institution may place a hold on the pre-authorized amount, your account will only be charged for the actual transaction amount when the first item on the order is shipped. Any pending refunds will process when all items have shipped.</p>
<p>Most financial institutions will remove a pre-authorization hold from your account when the actual transaction amount is debited from your account or 3-5 business days after the pre-authorization request, whichever occurs sooner. Since policies vary between different financial institutions, we recommend that you contact your financial institution with any further questions about a pre-authorization. Art.com will not release pre-authorization holds.</p>
<br />
<h4>Does the image on your site accurately represent what I will be sent?</h4>
<p>We strive for a high degree of image accuracy. However, in some cases, the visual representation may be approximate, or prints may vary. If you are not satisfied with the product you receive, you may return it within 30 days for a refund.</p>


				    </div>
				 
		        </div>
			</section>
