
<img src="/assets/banner.jpg" />
<div class="break2">
	</div>
<div class="lefthone">
<h2>Featured Artists</h2><img src="/assets/linebreak.jpg" />
</div>
<%= render :partial => 'artists/featuredartist' %>




