<h1>Site#index</h1>
<p>Find me inddd app/views/site/index.html.erb</p>
<div class="main">
<ul id="carousel" class="elastislide-list">
					<li><a href="#"><img src="/assets/small/1.jpg" alt="image01" /></a></li>
					<li><a href="#"><img src="/assets/small/2.jpg" alt="image02" /></a></li>
					<li><a href="#"><img src="/assets/small/3.jpg" alt="image03" /></a></li>
					<li><a href="#"><img src="/assets/small/4.jpg" alt="image04" /></a></li>
					<li><a href="#"><img src="/assets/small/5.jpg" alt="image05" /></a></li>
					<li><a href="#"><img src="/assets/small/6.jpg" alt="image06" /></a></li>
					<li><a href="#"><img src="/assets/small/7.jpg" alt="image07" /></a></li>
					<li><a href="#"><img src="/assets/small/8.jpg" alt="image08" /></a></li>
					<li><a href="#"><img src="/assets/small/9.jpg" alt="image09" /></a></li>
					<li><a href="#"><img src="/assets/small/10.jpg" alt="image10" /></a></li>
					<li><a href="#"><img src="/assets/small/11.jpg" alt="image11" /></a></li>
					<li><a href="#"><img src="/assets/small/12.jpg" alt="image12" /></a></li>
					<li><a href="#"><img src="/assets/small/13.jpg" alt="image13" /></a></li>
				</ul>

</div>


