/* ie styles for when js disabled */
.navbar ul { padding:0; margin:0; background:url(../fallback/navRight.gif) no-repeat 100% 0; font:16px Tahoma, Sans-serif; }
.navbar ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.navbar li { height:44px; position:relative; float:left; list-style-type:none; background:url(../fallback/navBG.gif) repeat-x 0 0; }
.navbar li:hover { background:url(../fallback/navOverBG.gif) repeat-x 0 0; }
.navbar li:first-child { background:url(../fallback/navLeftIE.gif) no-repeat 0 0; }
.navbar li:first-child a { border-left:none; }
.navbar li:first-child:hover { background:url(../fallback/navOverLeft.gif) no-repeat 0 0; }
.navbar li a { display:block; padding:10px 20px; border-left:1px solid #999; border-right:1px solid #222; color:#eee; text-decoration:none; }
.navbar li li { width:auto; clear:left; }
.navbar li li:first-child { background:none; }
.navbar li li:hover { background-image:none; }
.navbar ul li li a:hover { border-right:none; }
.navbar ul ul { padding-left:2px; position:relative; left:2px; background:url(../fallback/subnavBG.png) no-repeat 100% 100%; }
.navbar li li { height:auto; width:98%; left:-2px; }
.navbar ul ul a { left:3px; }
.navbar ul ul a:hover { background:url(../fallback/subOverBG.png) repeat 0 0; }
.navbar ul a span { height:7px; width:12px; margin-top:8px; text-indent:-5000px; overflow:hidden; background:url(../fallback/indicator.png) no-repeat 0 0; }
.navbar ul ul li { background:none; }
.navbar ul ul li.last { margin-bottom:10px; }
.navbar ul ul li a { white-space:pre; border-left:0; }
