@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */


/* ~~ this fixed width container surrounds the other divs ~~ */
.container {
	width: 960px;
	background: #FFFFFF;
	margin: 0 auto;
	padding: 0px; 
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 2px 2px 2px #666666;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	/* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background: #FFFFFF;
	width: 590px;
	height: 250px;
	float: right;
}

.leftheader {
	width: 370px;
	height: 250px;
	float: left;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/

.navbar {
	height: 48px;
	width:  960px;
	clear: both;
	margin-bottom: 0px;
}
.break2 {
	height: 5px;
	background: #00CC00;
	margin-top: -6px;
	clear: both;
}


.break {
	height: 5px;
	background: #00CC00;
	margin-top: 2px;
	clear: both;
}

.breakend {
	height: 5px;
	background: #00CC00;
	margin-top: 20px;
	clear: both;
}

.content {

	padding-top: 0px;
	padding-bottom: 30px;
	clear: both;
}

.content img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.content a:link {
	text-decoration: none;
	color: #666666;
}
 .content a:visited {
 	text-decoration: none;
	color: #666666;
}

.content a:focus {
	text-decoration: none;
	color: #00CC00;
}

.content a:hover {text-decoration: underline;
	color: #00CC00;
}

.content a:active {text-decoration: none;
	color: #00CC00;}

.mainartists {
	float: left;
	width: 320px ;
	
}

.content .mainartists img {
	padding: 28px;
}

.lefthone {
	width: 960px;
	padding-bottom: 20px;
	padding-top: 20px;
	clear: both;
}

.lefthone  h2 {
	display: inline;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.75em;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #999;
}

.lefthone  h3 {
	display: inline;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.50em;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #999;
}

.lefthone h1 {
	display: inline;
}

.lefthone img {
	float: right;
	padding-top: 8px;
}

.mainartists a {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	display: block;
}

.sidepaintings {
	float: left;
	width: 400px;
}

.sidepaintings img {
	height: 100px;
	width: 100px;
}

/* ~~ The footer ~~ */
.footer {
	width: 960px;
	height: 300px;
}

.leftfooterlinks {
	width:230px;
	float:left;
	height:300px;
	text-shadow: 2px 2px 2px #666666;
}

.leftfooterlinks ul {
	padding: 20px 0;
	margin:0; 
}

.leftfooterlinks ul li {
	color: black;
	list-style-type:none;
	padding: 5px;
}

.leftfooterlinks ul li a {
	padding: 5px 30px;
	color: black;
	text-decoration:none;
	font-size: 17px;
}

.leftfooterlinks ul li a:hover {
	color: black;
	text-decoration: underline;
}


.rightfooterlinks {
	width: 230px;
	float: left;
	height: 300px;
	padding: 0;
	margin: 0;
	text-shadow: 2px 2px 2px #666666;
}

.rightfooterlinks ul {
	padding: 20px 0;
	margin:0; 
}

.rightfooterlinks ul li {
	color: black;
	list-style-type:none;
	padding: 5px;
}

.rightfooterlinks ul li a {
	padding: 5px, 30px;
	color: black;
	text-decoration: none;
	font-size: 17px;
}

.rightfooterlinks ul li a:hover {
	color: black;
	text-decoration: underline;
}

.righttfooterlogo {
	width: 300px;
	float: right;
	height: 300px;
}

.righttfooterlogo img {
	display:block;
	margin-left:auto;
	margin-right:auto;

}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.selectedpainting img {
	display: block;
	margin: auto;
}

.artistdetails {
	clear: both;
	width: 960px;
}

.paintingmainimage {
	float: right;
	width: 400px;
}

.paintingmaindetails {
	float: left;
	width: 560px;
}

.paintingmaindetails h2 {
	text-align: center;
}

.paintingmaindetails h3 {
	text-align: center;
	color: #666666;
}

.paintingmaindetails h4 {
	text-align: center;
}

.paintingmaindetails p {
	text-align: center;
}	

.paintingmainimage img {
	display: block;
	margin: auto;
}

.productdetails {
	font-weight: bolder;
}

.content h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2em;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #999;
}

.about img {
	float: right;
	padding-left: 15px;
	padding-bottom: 15px;
}

.contactdisp {
	color: #333;
}

.photos {
	float:left;
	margin:20px;
	width: 200px;
	margin-left: 12px;
	text-align:center;
}

.photos img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #e2e2e2;
	height: 200px;
	max-width: 190px;
}

.photos a {
	color: #6A003C;
	font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: none;
}

.adminbar {
	text-align: right;
	width: 100%;
	background-color: white;
	height: 50px;
	margin: 0px;
	padding: 0px;
	
}

.adminbar {
	color: black;
}

.adminbar a {
	color: black;
}

.admincart {
	float: right;
	margin-right: 20px;
}

.adminlogin {
	float: right;
	margin-right: 20px;
}

.sidenav {
	background-image: url('/assets/box.jpg');
	background-repeat: no-repeat;
	margin-top: 30px;
	float:left;
	width: 240px;
	height: 900px;
}

.sidenav form {
	padding-left: 23px;
	padding-top: 20px;
}

 .pretty a .current {  
   padding-right: 12px;  
   background-repeat: no-repeat;  
   background-position: right center;  
 }  
 .pretty a .asc {   
  background-image: url(/images/up_arrow.gif);   
 }  
   
 .pretty a .desc {   
   background-image: url(/images/down_arrow.gif);   
 } 

 .client img {
 	margin-right: 30px;
 	margin-left: 30px;
 	margin-bottom: 30px;
 }

 .services img {
 	float: right;
 	margin-right: 30px;
 	margin-left: 30px;
 	margin-bottom: 30px;
 }

 .centered img {
 	display:block;
 	margin-right: auto;
 	margin-left: auto;
 }

 .services p {
 	font-size: 1em;
	line-height: 1.25em;
	margin: 0;
	text-align: justify;
 }

 .services ul {
 	padding: 20px 30px;
	margin:0;
	list-style-type:none;
 }

 .services ul li {
 	padding: 5px 30px;
	color: black;
	text-decoration:none;
	font-size: 17px;	
}

 .services ol {
 	padding: 20px 30px;
	margin-left: 30px;

 }
 
 .services ol li {
 	padding: 5px 0px;
	color: black;
	text-decoration:none;
	font-size: 17px;	
}

.digg_pagination {
  clear: both;
  background: white;
  cursor: default;
  padding-bottom: 50px;
  
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #00CC00;
    color: white;
    border: 1px solid #000000; }
  .digg_pagination a {
    text-decoration: none;
    color: #00CC00;
    border: 1px solid #000000; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #006600;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2EB235;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #2EB235;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.article_body{
  margin-bottom:1.5em;
}

#article-content{
  padding:0 1.5em 0 1.5em;
}

#article-content h1{
  font-size:3em;
line-height:1;
margin-bottom:0;
padding-left: 0;
}

.articleindex {
	margin: 0px 30px;
}

.list_carousel {
				background-color: #ccc;
				margin: 0 0 30px 60px;
				width: 360px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 5px solid #999;
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
